* {
    margin: 0;
    padding: 0;
    background-color: #272c2a;
    color: white;
}

h1 {
    margin: 1rem;
    padding: 1rem;
}

.sinopse {
    display: flex;
    margin: 6vw;
    padding: 1rem;
}

ul {
    margin: 0 auto;
    text-align: center;
    list-style-type: none;
}

ul > li {
    display: inline-block;
    vertical-align: top;
    padding: 1vw;
}

.about {
    display: flex;
    flex-direction: column;
    margin: 1vw;
}

.header {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 10px;
}

.history {
    margin: auto 2rem;
    padding: 1rem;
}

.history h3 {
    margin: 15px;
}

